<footer class='mt-5 py-5 flex-column justify-center align-center footer'
        data-scroll-section>
    <div class="d-flex justify-content-center mt-4">
        <div class="col-12 p-0 text-center text-md-center">
            <p>© 2024, Cinema Stream Pte. Ltd.</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>

<div id="loading">
    <div class="text-center d-flex justify-content-center align-items-center loading-image w-100 h-100">
        <img src="{{ url_for('static', filename='/img/Dual_Ball.gif') }}" alt="" style="width:100px; height: 100px">
    </div>
</div>

<div class="modal fade" id="subscribeModal" aria-labelledby="subscribeModalLabel" aria-hidden="true">
    <div class="modal-dialog sm-5">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <h5 class="modal-title fs-5" id="subscribeModalLabel">Subscribe to CinemaStream</h5>
            </div>
            <div class="modal-body">
                <p>Thank you for subscribing to CinemaStream. You will now receive updates on movies,
                    tv-series, and news about top movies directly to your inbox</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

