<nav aria-label="Main Navigation" class="navbar navbar-expand-lg" data-scroll-section>
    <div class="container-fluid">
        <a class="navbar-brand logo display-5 col-1" href="/">
            <img alt="Cinema Stream" src="{{ url_for('static', filename='/img/cinema_stream_logo.png') }}"
                 style="height: 60px">
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ms-4">
                    <a class="nav-link text-white rounded" href="/">Movies</a>
                </li>

                <li class="nav-item ms-4">
                    <a class="nav-link text-white rounded" href="/about-us">About Us</a>
                </li>
                <!-- <li class="nav-item ms-4">
                    <a class="nav-link" href="/user/orderHistory.php">History</a>
                </li>

                <li class="nav-item ms-4">
                    <a class="nav-link" href="/user/user_library.php">Library</a>
                </li>
                
                <li class="nav-item ms-4">
                    <a class="nav-link" href="/user/mailbox.php">Mailbox</a>
                </li>
                 -->
                <li class="nav-item ms-4">
                    <a class="nav-link text-white" href="/user/contact.php">Contact Us</a>
                </li>

                {% if 'user_id' in session %}
                <li class="nav-item ms-4">
                    <a class="btn btn-md btn-info text-white" href="/user/profile"><i class="fas fa-id-card mr-1"></i> Profile</a>
                </li>
                {% endif %}
                {%if 'admin' in session %}
                <li class="nav-item ms-4">
                    <a class="nav-link text-white" href="/admin">Admin Dashboard</a>
                </li>
                {%endif%}
                {% if 'user_id' in session %}

                <li class="nav-item ms-4">
                    <a class="btn btn-danger" href="/user/logout">Logout</a>
                </li>
                {%else%}
                <li class="nav-item ms-4">
                    <a class="nav-link text-white" href="/user/login">Login</a>
                </li>
                <li class="nav-item ms-4">
                    <a class="nav-link text-white" href="/user/register">Sign up</a>
                </li>
                {%endif%}
            </ul>

        </div>
    </div>
</nav>