{% extends "layouts/base.html" %}
{% block body %}

<section class="container mt-4" data-scroll-section>
    <div class="row">
        <div class="col-12 col-md-9 order-1 order-md-0">
            <div class="view view-cascade primary-light-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                <h2 class="white-text mx-3">Cart</h2>
            </div>

            <!-- Check if there are orders -->
            {% if orders %}
            <div class="table-responsive table-hover w-100">
                <table class="table table-striped text-center" id="table">
                    <thead>
                    <tr>
                        <th class="th-sm">Movie Name</th>
                        <th class="th-sm">Price</th>
                        <th class="th-sm">Action</th> <!-- Add a new column for the remove button -->
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr class="animated faster">
                        <td class="align-middle">{{ order.movie_name }}</td> <!-- Display the movie name -->
                        <td class="align-middle">${{ order.total_price }}</td> <!-- Display the price -->
                        <td class="align-middle">
                            <!-- Remove Button -->
                            <form action="/orders/api/remove" method="post">
                                <input name="order_id" type="hidden" value="{{ order._id }}">
                                <button class="btn btn-danger" type="submit">Remove <i class="fas fa-times ml-2"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Total Price and Proceed to Payment Button -->
        <div class="col-12 col-md-3 my-4 my-md-0 order-0 order-md-1">
            <div class="card card-cascade narrower">
                <div
                        class="view view-cascade narrower py-2 mx-4 mb-3 d-flex justify-content-center align-items-center text-center">
                    <h2 class="mx-3 d-inline">Total: ${{ total_sum }}</h2>
                </div>
                <hr class="w-100" />
                <div class="card-body">
                    <!-- Proceed to Payment Button (below the total price) -->
                    <form action="/purchases/api/payment" method="get">
                        <input name="total_sum" type="hidden" value="{{ total_sum }}">
                        <button class="btn btn-primary mt-2 w-100" type="submit">Proceed to Payment</button>
                    </form>
                    <form action="/orders/api/clear-all" method="post">
                        <button class="btn btn-danger mt-2 w-100" type="submit">
                            <i class="fas fa-trash mr-2"></i> Clear cart</button>
                    </form>
                </div>
            </div>
        </div>


        {% else %}
        <div class="col-12 text-center">
            <p>Your cart is empty.</p>
        </div>
        {% endif %}
    </div>
</section>

{% endblock %}

