{% extends "layouts/base.html" %}
{% block body %}

<section class="history">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-9 order-1 order-md-0">
                <div class="card narrower">
                    <div
                        class="view view-cascade narrower py-2 mx-4 mt-2 d-flex justify-content-center align-items-center text-center">
                        <h2 class="white-text mx-3">Rental History</h2>
                    </div>
                    <hr class="w-100" />
                    <div class="card-body">
                        <div class="table-responsive table-hover w-100">
                            <table class="table table-striped text-center" id="history-table">
                                <thead>
                                <tr>
                                    <th id="name" class="th-sm">Movie Name</th>
                                    <th id="price" class="th-sm">Price</th>
                                    <th id="date" class="th-sm">Rented on</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for history, purchase_timestamp in history_items %}
                                <tr class="animated faster">
                                    <td class="align-middle" headers="name">{{ history.movie_name }}</td>
                                    <td class="align-middle" headers="price">${{ history.price }}</td>
                                    <td class="align-middle" headers="date">{{ purchase_timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 my-4 my-md-0 order-0 order-md-1">
                <div class="card narrower">
                    <div class="view view-cascade narrower py-2 mx-4 mt-2 d-flex justify-content-center align-items-center text-center">
                        <h2 class="white-text mx-3">Action</h2>
                    </div>
                    <hr class="w-100"/>
                    <div class="card-body">
                        <div class="form-group my-0">
                            <label for="action-search-input">Search History</label>
                            <input class="form-control" id="action-search-input" name="search" type="text" placeholder="Search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/public/js/history.js"></script>'

{% endblock %}