{% extends "layouts/base.html" %}
{% block body %}

<section data-scroll-section class="text-center">
    <div class="mt-4 d-flex justify-content-center align-items-center">
        <h1 class="text-light display-4"><strong>RENTED MOVIES</strong></h1>
    </div>
    <section id="movieSection" data-scroll class="container d-flex p-2 flex-wrap mt-3">
        {% if movies %}
        {% for movie in movies %}
        <div class="col-xl-4 col-l-4 col-sm-12 col-12 col-md-6 p-1 mb-4 d-flex align-items-stretch mt-4">
            <div class="card w-100 d-flex flex-column">
                <div class="view overlay border-bottom">
                    <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{movie.image_url}}" alt="{{ movie.name }}" loading="lazy">
                </div>
                <div class="card-body d-flex flex-column flex-grow-1">
                    <div>
                        <h2 class="card-title">{{ movie.name }}</h2>
                        <hr class="w-100" />
                        <p class="card-text mb-0">{{ movie.synopsis }}</p>
                        <hr class="w-100" />
                        <div class="row mt-2">
                            <div class="col text-start">
                                <p><i class="fas fa-calendar mr-2"></i> {{ movie.release_date }}</p>
                            </div>
                            <div class="col text-end">
                                <p class="card-text"><i class="fas fa-clock mr-2"></i> {{ movie.runtime }} minutes</p>
                            </div>
                        </div>
                        <!-- Show expiration date of the rental -->
                        <div class="row mt-2">
                            <div class="col text-start">
                                <p><strong>Rental Expires:</strong> {{ movie.rental_expiry.strftime('%d-%m-%Y') }}</p>
                            </div>
                            <div class="col text-end">
                                {% if movie.is_active %}
                                <span class="badge bg-success">Active</span>
                                {% else %}
                                <span class="badge bg-danger">Expired</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="mt-auto text-end">
                        <!-- Button actions for viewing the movie or leaving/editing a review -->
                        <a href="/movie/single/{{ movie.id }}" class="btn btn-primary">
                            View Movie Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="text-center">
            <h5 class="text-light display-4"><strong>You have no rentals at the moment</strong></h5>
        </div>
        {% endif %}
    </section>

    <div class="mt-4 d-flex justify-content-center align-items-center"></div>
        <h1 class="text-light display-4"><strong>RECOMMENDED MOVIES</strong></h1>
        <section id="recommendedMoviesCarousel" class="carousel slide mt-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for group in recommendations|batch(5, fill_with=None) %}
                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                    <div class="row justify-content-center">
                        {% for movie in group %}
                        <div class="col-lg-2 col-md-2">
                            {% if movie %}
                            <!-- Movie Poster -->
                            <a href="/movie/single/{{ movie.id }}">
                                <img src="https://image.tmdb.org/t/p/w500/{{ movie.image_url }}" class="d-block" alt="{{ movie.name }}" style="max-width: 200px; height: 300px; object-fit: cover;">
                            </a>
                            <!-- Movie Title -->
                            <div class="text-center">
                                <h6 class="text-light">{{ movie.name }}</h6>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
    
            <button class="carousel-control-prev" type="button" data-bs-target="#recommendedMoviesCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recommendedMoviesCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </section>
    </div>
</section>

{% endblock %}